<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About this project</h5>
      <p class="grey-text text-lighten-4">This application is a prototype project.</p>
    </div>
    <div class="col l3 s6">
      <h5 class="white-text">Technologies</h5>
      <ul>
        <li><a class="white-text hover-link" href="https://angular.io/" target="_blank">Angular</a></li>
      </ul>
    </div>
    <div class="col l3 s6">

    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    Frame by <a class="brown-text text-lighten-3" href="http://materializecss.com" target="_blank">Materialize</a>
  </div>
</div>
